<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Time </th>
                <th width="20px">View history</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of stocks">
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.timeStamps }}</td>
                <td>
                    <a  [routerLink]="['/stockhistory/', stock.symbol]" class="nav-link">View</a>
                </td>
               
            </tr>
        </tbody>
    </table>
</div>